# Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [6]:
# Arithematic operators
a : int = 7
b : int = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

12
2
35
1.4
2
16807
1

In [14]:
# Assignment Operators

a : int = 5
b : int = 2

print(a)
a += b
print(a)
a -= b
print(a)
a *= b
print(a)
a /= b
print(a)
a %= 3
print(a)
a //= 2
print(a)
a **= 2
print(a)

5
7
5
10
5.0
2.0
1.0
1.0

In [17]:
b: int = 7

print(b == 8)
print(b := 8)

False
8

In [20]:
# Comparison Operators

a : int = 7
b : int = 10
print(a == b)
print(a > b)
print(a < b)

False
False
True

In [28]:
chr(65)

'A'

In [32]:
ord('A')

57

In [46]:
# Logical Operators

a : bool = True
b : bool = False

print(a and b)
print(a or b)

print(True or False)
print(True and False)

print(not True)
print(not False)

False
True
True
False
False
True

In [44]:
print(6 & 4) # Converts to binary numbers

4

In [51]:
# Identity operators

x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

print(x is z)
print(x is not z)

140727678472456
140727678472456
True
False

In [52]:
# Membership Operators

names : list[str] = [chr(i) for i in range (65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [57]:
names : list[str] = [chr(i) for i in range(65,91)]

print("D" in names)
print("Pakistan" in names)
print(245 in names)

True
False
False

In [61]:
names : list[str] = ['Saeed', 'Saad','Zain']

uinput : str = input('Enter your name')

uinput in names

True

In [62]:
universe_age: int = 14_000_000_000
print(universe_age)

14000000000

In [64]:
a , b , c = 'qasim' , 15 , True
print(a)
print(b)
print(c)

qasim
15
True

In [66]:
data = ['qasim' , 7 , 3.0]
print(*data)

['qasim', 7, 3.0]