In [1]:
name: str = "Saeed"
print(name)

Saeed

# String Data type in Python

In [3]:
# boundaries
# "string text". 'String text', '''String text''', """String text"""

name: str = "Muhammad Qasim"
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [4]:
# boundaries
# "string text". 'String text', '''String text''', """String text"""

name: str = 'Muhammad Qasim'
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [5]:
# boundaries
# "string text". 'String text', '''String text''', """String text"""

name: str = '''Muhammad Qasim'''
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [6]:
# boundaries
# "string text". 'String text', '''String text''', """String text"""

name: str = """Muhammad Qasim"""
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [7]:
message : str = '''PIAIC Student Card \n Father's name'''
print(message)
print(type(message))

PIAIC Student Card
 Father's name
<class 'str'>

In [1]:
message : str = "'PIAIC Student Card \n Father's name'"
print(message)
print(type(message))

'PIAIC Student Card
 Father's name'
<class 'str'>

In [2]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n Father\'s name'
print(message)
print(type(message))

PIAIC Student Card
 Father's name
<class 'str'>

In [11]:
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education :str = "Masters in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + \
    "\nAge: " + str(age) + "\n"+\
    "Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age: 30
Education: Masters in Data Science

## Defind multiline string ''' ''', """ """

In [15]:
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education :str = "Masters in Data Science"
age : int = 30

card : str = f'''
PIAIC Studen Card
Student Name : {name}
Father's Name : {fname}
Age : {age}
Education : {education}'''

print(card)

PIAIC Studen Card
Student Name : Muhammad Qasim
Father's Name : Muhammad Aslam
Age : 30
Education : Masters in Data Science

# \ means line continues

In [16]:
print(7 + 8 +2)
# OR
print(7 + \
      8 + \
        2)

17
17

# F-String and Jinja Style

In [ ]:
# Jinja Style
"""
student name {{name}}
"""

In [17]:
# F-string
f"""
student name {name}
"""

'\nstudent name Muhammad Qasim\n'

In [18]:
# Old coding style
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education :str = "Masters in Data Science"
age : int = 30

card : str = f'''
PIAIC Studen Card
Student Name : %s
Father's Name : %s
Age : %d
Education : %s
''' % (name,fname,age,education)
print(card)

PIAIC Studen Card
Student Name : Muhammad Qasim
Father's Name : Muhammad Aslam
Age : 30
Education : Masters in Data Science

In [19]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
name : str = "MuHaMmAd QaSiM"

print(name.capitalize())

Muhammad qasim
<built-in method upper of str object at 0x00000147D97E2DF0>

In [22]:
a = 7
b = 8
# {} place holder
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [27]:
# Old coding style
name : str = "Muhammad Qasim"
fname : str = "Muhammad Aslam"
education :str = "Masters in Data Science"
age : int = 30

card : str = '''
PIAIC Studen Card
Student Name : {1}
Father's Name : {0}
Age : {3}
Education : {2} 
'''.format(fname,name,education,age)
print(card)

PIAIC Studen Card
Student Name : Muhammad Qasim
Father's Name : Muhammad Aslam
Age : 30
Education : Masters in Data Science

In [29]:
student_code : str = """
print("My name is Muhammad Qasim")
a : int = 7
b : int = 8
print(a + b)
"""

exec(student_code)

My name is Muhammad Qasim
15

# Explore string methods and attributes

In [30]:
a : list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [46]:
name : str = "      MuhAmMad QaSiM     "

print(name.capitalize())
print(name.casefold())
print(name.lower())
print(name.strip())
import re

display(name)

name1 : str = re.sub(' {2,100}','',name)

display(name1)

      muhammad qasim
      muhammad qasim
      muhammad qasim
MuhAmMad QaSiM

'      MuhAmMad QaSiM     '

'MuhAmMad QaSiM'

In [50]:
name : str = "MuhAmMad QaSiM"

print(name.title())
print(name.upper())
print(name.lower())
print(f"Hello, {name.title()}!")

Muhammad Qasim
MUHAMMAD QASIM
muhammad qasim
Hello, Muhammad Qasim!

In [53]:
print("Name:\tMuhammad Qasim") # \t adds space
print("Name:\nMuhammad Qasim") # \n moves to next line
print("Name:\bMuhammad Qasim") # \b backspace

Name:	Muhammad Qasim
Name:
Muhammad Qasim
NameMuhammad Qasim