# I'm so happy to start python class with static type

In [1]:
print("Hello World")
print(1234)
print(True)

Hello World

In [2]:
name = "Saeed"
name = 700
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

700
<class 'int'>
1736026674352

In [3]:
name:str = "Saeed"
print(name)

Saeed

In [1]:
name:str = 700
print(name)

700

In [2]:
name: int = 400
print(name)

400

In [3]:
name: float = 4.5
print(name)

4.5

In [6]:
name: list[str] = ('a','b','c','d')
print(name)

('a', 'b', 'c', 'd')

In [7]:
name: tuple[str,int,float] = ('Saeed', 12, 7.8)
print(name)

('Saeed', 12, 7.8)

In [5]:
name: bool = True
print(name)

True