# List
* Iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr Noman']

print(names)
print(type(names))

['Sir Zia', 'Muhammad Qasim', 'Dr Noman']
<class 'list'>

In [2]:
names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr Noman']

for name in names:
    print(name)

Sir Zia
Muhammad Qasim
Dr Noman

In [3]:
names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr Noman']

i : int = 0
while i < len(names):
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
Dr Noman

In [4]:
names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr Noman']

for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr Noman

In [5]:
data_base : list[tuple[str,str]] = [("qasim", "123"),
                           ("Sir Zia", "456"),
                           ("Sir Inam", "789")
                           ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
Sir Zia 456
Sir Inam 789

In [6]:
data_base : list[tuple[str,str]] = [("qasim", "123"),
                           ("Sir Zia", "456"),
                           ("Sir Inam", "789")
                           ]
input_user : str = input("Enter user name: ")
# print(input_user)
input_password : str = input("Enter user password: ")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print('Welcome')
        break
else:
    print("Invalid user name or password.")

Welcome

In [ ]:
data_base : list[tuple[str,int]] = [("qasim", 123),
                           ("Sir Zia", 456),
                           ("Sir Inam", 789)
                           ]
input_user : str = input("Enter user name: ")
# print(input_user)
input_password = int(input("Enter user password: "))

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print('Welcome')
        break
else:
    print("Invalid user name or password.")

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [15]:
magicians = ['alics','david','carolina']

list(enumerate(magicians))

[(0, 'alics'), (1, 'david'), (2, 'carolina')]

In [16]:
magicians = ['alics','david','carolina']

for index, name in enumerate(magicians):
    print(index,name)

0 alics
1 david
2 carolina

In [17]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [18]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehension

In [19]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
number_list = list(range(1, 1000001))

# Verify the minimum and maximum values in the list
minimum_value = min(number_list)
maximum_value = max(number_list)

print("Minimum value:", minimum_value)
print("Maximum value:", maximum_value)

# Calculate the sum of a million numbers
sum_of_numbers = sum(number_list)
print("Sum of numbers from 1 to 1 million:", sum_of_numbers)

Minimum value: 1
Maximum value: 1000000
Sum of numbers from 1 to 1 million: 500000500000

In [21]:
a : int = 2**64
print(a)

18446744073709551616

In [22]:
digits : list[int] = [1,2,3,4,5,6,7,8,9]

print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9
45

In [24]:
names:tuple[str] = ('A','B','C')
print(names)
print(names[0])

('A', 'B', 'C')
A